@using SBAT.App.Models.Pages.Home;
@using SBAT.App.Models.SBATApi.Request;
@using SBAT.App.Services;
@inject ILogger<LoginPopUp> Logger
@inject ISBATApiService SBATApiService

<div class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Sign In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="sign-in-input" class="col-form-label">Username:</label>
                        <InputText id="sign-in-input" @bind-Value="loginModel.Username"></InputText>
                    </div>
                    <div class="mb-3">
                        <label for="sign-in-pass" class="col-form-label">Username:</label>
                        <InputText id="sign-in-pass" @bind-Value="loginModel.Password"></InputText>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private LoginModel loginModel = new();

    private async Task HandleValidSubmit()
    {
        var signInRequest = new SignInUserRequest
        {
            Username = loginModel.Username,
            Password = loginModel.Password
        };

        var apiResponse = await SBATApiService.SignInUserAsync(signInRequest);
        if (apiResponse is not null)
        {
            //go to the home page
        }
        else
        {
            //check for errors!
        }
    }

    private void HandleInvalidSubmit()
    {

    }
}
